@model WebApplicationMarketing.Models_.SettingTable

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>SettingTable</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdSt" />
            <div class="form-group">
                <label asp-for="IncomingTraffics" class="control-label"></label>
                <input asp-for="IncomingTraffics" class="form-control" />
                <span asp-validation-for="IncomingTraffics" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InsideClubs" class="control-label"></label>
                <input asp-for="InsideClubs" class="form-control" />
                <span asp-validation-for="InsideClubs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KeysIndicators" class="control-label"></label>
                <input asp-for="KeysIndicators" class="form-control" />
                <span asp-validation-for="KeysIndicators" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OnlinePays" class="control-label"></label>
                <input asp-for="OnlinePays" class="form-control" />
                <span asp-validation-for="OnlinePays" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SocialMediums" class="control-label"></label>
                <input asp-for="SocialMediums" class="form-control" />
                <span asp-validation-for="SocialMediums" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <select asp-for="Id" class="form-control" asp-items="ViewBag.Id"></select>
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

