@page
@model WebApplicationMarketing.Areas.Identity.Pages.Account.Manage.TablesSettingModel
@{
    ViewData["Title"] = "Настройка набора таблиц отчетности";
    ViewData["ActivePage"] = ManageNavPages.TablesSetting;
}

<h4>@ViewData["Title"]</h4>

<div class="container-content">
    <div class="row">
        <div class="col-md-6">

        </div>
    </div>
</div>


<a class="btn btn-primary btn-page" asp-controller="SettingTables" asp-action="Index">Перейти к настройкам таблиц</a>
