@model WebApplicationMarketing.Models_.KeyIndicator

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>KeyIndicator</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdKi" />
            <div class="form-group">
                <label asp-for="LeadsSite" class="control-label"></label>
                <input asp-for="LeadsSite" class="form-control" />
                <span asp-validation-for="LeadsSite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewVisitorsSite" class="control-label"></label>
                <input asp-for="NewVisitorsSite" class="form-control" />
                <span asp-validation-for="NewVisitorsSite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LeadsLandingPages" class="control-label"></label>
                <input asp-for="LeadsLandingPages" class="form-control" />
                <span asp-validation-for="LeadsLandingPages" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewVisitorsLandingPages" class="control-label"></label>
                <input asp-for="NewVisitorsLandingPages" class="form-control" />
                <span asp-validation-for="NewVisitorsLandingPages" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AllLeadsSites" class="control-label"></label>
                <input asp-for="AllLeadsSites" class="form-control" />
                <span asp-validation-for="AllLeadsSites" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GoalsAdvertising" class="control-label"></label>
                <input asp-for="GoalsAdvertising" class="form-control" />
                <span asp-validation-for="GoalsAdvertising" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpentWebsitePromotion" class="control-label"></label>
                <input asp-for="SpentWebsitePromotion" class="form-control" />
                <span asp-validation-for="SpentWebsitePromotion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CostLeadSites" class="control-label"></label>
                <input asp-for="CostLeadSites" class="form-control" />
                <span asp-validation-for="CostLeadSites" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TargetCost" class="control-label"></label>
                <input asp-for="TargetCost" class="form-control" />
                <span asp-validation-for="TargetCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewWebsiteVisitors" class="control-label"></label>
                <input asp-for="NewWebsiteVisitors" class="form-control" />
                <span asp-validation-for="NewWebsiteVisitors" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MailSubsShares" class="control-label"></label>
                <input asp-for="MailSubsShares" class="form-control" />
                <span asp-validation-for="MailSubsShares" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataMonth" class="control-label"></label>
                <input asp-for="DataMonth" class="form-control" />
                <span asp-validation-for="DataMonth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <select asp-for="Id" class="form-control" asp-items="ViewBag.Id"></select>
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

